<section id="landing-contact">

    <div class="content-container p-12" [ngClass.gt-sm]="'content-container p-64'" fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="12px">

        <div class="content-title mt-36 mb-36" fxLayout="column" fxLayoutAlign="start">
            <span class="title">Contact Us</span>
            <span class="underline"></span>
        </div>

        <div class="content mb-36">
            <span>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam, error.</span>
        </div>

        <form [formGroup]="contactForm">
            <div fxLayout="column" fxLayoutGap="12px" fxLayoutWrap="wrap">
                <div fxFlex="100">
                    <div fxLayout="column">
                        <mat-form-field class="full-width">
                            <input matInput name="name" [formControl]="contactForm.controls['name']" placeholder="Your Name">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field class="full-width">
                            <input matInput name="email" [formControl]="contactForm.controls['email']" placeholder="Your Email">
                        </mat-form-field>
                    </div>

                </div>
                <div fxFlex="100">
                    <div fxLayout="column">
                        <mat-form-field class="full-width">
                            <input matInput name="subject" [formControl]="contactForm.controls['subject']" placeholder="Subject">
                        </mat-form-field>
                    </div>
                    <div fxLayout="column">
                        <mat-form-field class="full-width">
                            <textarea matInput row="8" name="message" [formControl]="contactForm.controls['message']" placeholder="Message"></textarea>
                        </mat-form-field>
                    </div>
                </div>
                <div fxFlex="100">
                    <button mat-fab color="primary">
                        <mat-icon>send</mat-icon>
                    </button>
                </div>
            </div>
        </form>

    </div>

</section>