<mat-toolbar [ngClass]="{'fixed-header mat-elevation-z1': isFixed}">

    <div class="pr-16" fxFlex fxFill fxLayout="row" fxLayoutAlign="start center">

        <div fxFlex="1 0 auto" fxLayout="row" fxLayoutAlign="start center">

            <div class="logo m-0 p-0" fxLayout="row" fxLayoutAlign="start center">
                <img src="assets/images/logos/placeholder.png">
                <h1 class="text-uppercase">Disruption</h1>
            </div>

        </div>

        <div fxFlex="0 1 auto" fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="4px">

            <button mat-menu-item fxHide fxShow.gt-xs *ngFor="let section of sections" fxLayoutAlign="center center">
                <div class="text pl-8 pr-8" [scrollTo]="section.id">{{ section.name }}</div>
            </button>

            <button mat-menu-item fxHide fxShow.gt-xs [matMenuTriggerFor]="languageMenu">
                <div fxLayout="row" fxLayoutAlign="center center">
                    <img class="flag mr-8" [src]="'assets/images/flags/'+selectedLanguage.flag+'.png'">
                    <span class="iso text-uppercase text">{{selectedLanguage.id}}</span>
                </div>
            </button>

            <mat-menu #languageMenu="matMenu" [overlapTrigger]="false">

                <button mat-menu-item *ngFor="let lang of languages" (click)="setLanguage(lang)">
                    <span fxLayout="row" fxLayoutAlign="start center">
                        <img class="flag mr-16" [src]="'assets/images/flags/'+lang.flag+'.png'">
                        <span class="iso">{{lang.title}}</span>
                    </span>
                </button>

            </mat-menu>

            <button mat-raised-button color="accent" fxHide fxShow.gt-xs>
                <span class="iso text-uppercase text">Sign In</span>
            </button>

        </div>

    </div>

</mat-toolbar>