<section id="landing-about">

    <div class="content p-24" fxLayout="column" fxLayoutAlign="start" fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="start start"
        fxLayoutGap="12px">

        <div class="widget pt-32" [ngClass.gt-sm]="'widget pt-32 pb-128 pl-128'" fxFlex fxLayoutAlign="center start" fxLayoutAlign.gt-sm="center center">
            <div fxLayout="column" fxLayoutAlign="start start">
                <span class="mat-display-3">DISRUPTION ICO is Lorem ipsum dolor sit amet !</span>
                <span class="mat-subheading-2">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit autem laborum quaerat dolor iusto odit cumque
                    quas impedit labore rem!</span>
            </div>
        </div>

    </div>

</section>