@import "src/@fuse/scss/fuse";
$font: rgba(0, 0, 0, 0.75);
$fontTitle: rgba(0, 0, 0, 0.6);
$background: white;
:host {
    section {
        color: $font;
        background: $background;
        .content-title {
            .title {
                color: $fontTitle;
            }
            .underline {
                border-bottom: 4px solid $fontTitle;
            }
        }
        .content-container {
            .title {
                color: $fontTitle;
            }
        }
    }
}