<section id="landing-about">

    <div class="content-container p-12" [ngClass.gt-sm]="'content-container p-64'" fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="12px">

        <div class="content-title mt-36 mb-36" fxLayout="column" fxLayoutAlign="start">
            <span class="title">About</span>
            <span class="underline"></span>
        </div>

        <div fxLayout="column" fxLayoutGap="12px" fxLayout.gt-sm="row">

            <div class="content" fxFlex="50">

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti
                    rerum, cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima
                    facilis ipsam.
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam? Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti
                    rerum, cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima
                    facilis ipsam.
                </p>

            </div>

            <div class="content p-0" [ngClass.gt-sm]="'content pl-16 pt-32px'" fxFlex="50">
                <iframe [src]='videoUrl' frameborder="0" allowfullscreen></iframe>
            </div>

        </div>

        <div fxLayout="column" fxLayoutGap="12px" fxLayout.gt-sm="row">

            <div class="content" fxLayout="column" fxFlex="50">

                <div class="pt-64 pb-32">
                    <span class="title-secondary">Problems</span>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

            </div>

            <div class="content" fxFlex="50" fxLayoutAlign="center">
                <img src="assets/images/logos/placeholder.png">
            </div>

        </div>

        <div fxLayout="column" fxLayoutGap="12px" fxLayout.gt-sm="row">

            <div class="content" fxFlex="50" fxLayoutAlign="center" fxFlexOrder="2" fxFlexOrder.gt-sm="1">
                <img src="assets/images/logos/placeholder.png">
            </div>

            <div class="content" fxLayout="column" fxFlex="50" fxFlexOrder="1" fxFlexOrder.gt-sm="2">

                <div class="pt-64 pb-32">
                    <span class="title-secondary">Solutions</span>
                </div>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

            </div>

        </div>

    </div>

</section>