<section id="landing-token">

    <div class="content-container p-12" [ngClass.gt-sm]="'content-container p-64'" fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="12px">

        <div class="content-title mt-36 mb-36" fxLayout="column" fxLayoutAlign="start">
            <span class="title">Token Sale</span>
            <span class="underline"></span>
        </div>

        <div fxLayout="column" fxLayoutGap="12px" fxLayout.gt-sm="row">

            <div class="content" fxFlex="70">

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">What is Disruption Token</span>
                    <span fxFlex="65">
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas quasi sit ducimus consectetur neque eligendi officiis vero!
                        Minima exercitationem qui ad laborum sequi maxime eos saepe libero, similique adipisci consequuntur.
                    </span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Name</span>
                    <span fxFlex="65">DSRPT</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Fixed Limit</span>
                    <span fxFlex="65">25,000,000 USD</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Soft Cap</span>
                    <span fxFlex="65">3,000,000 USD</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Exchange</span>
                    <span fxFlex="65">1 ETH = 1 BTC = 1 DSRPT</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Currency</span>
                    <span fxFlex="65">ETH, BTC</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Min Purchase</span>
                    <span fxFlex="65">1 ETH/1 DSRPT</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">ICO Start</span>
                    <span fxFlex="65">January 1, 2019 (9 AM, New York, EST)</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">ICO End</span>
                    <span fxFlex="65">Feb 1, 2020 (11 PM, New York, EST)</span>
                </div>

                <div class="pt-32 pb-32 border-bottom" fxLayout="row" fxLayoutAlign="start">
                    <span class="mat-body-2" fxFlex="35">Restrictions</span>
                    <span fxFlex="65">United States of America, Japan, Chile, Russia, France, Italy</span>
                </div>

            </div>

            <div class="content" fxFlex="30">


            </div>

        </div>

    </div>

</section>