<section id="landing-roadmap">

    <div class="content-container p-12" [ngClass.gt-sm]="'content-container p-64'" fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="12px">

        <div class="content-title mt-36 mb-36" fxLayout="column" fxLayoutAlign="start">
            <span class="title">Roadmap</span>
            <span class="underline"></span>
        </div>

        <div [ngClass.gt-sm]="'content w-60-p'">

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum, cum
                cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis ipsam.
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
            </p>

        </div>

        <div class="content" fxLayoutAlign="center">
            <ul class="timeline timeline-centered mt-24">
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Sep 01, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Event Title</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                            Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                            venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque.</p>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Oct 01, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Event Title</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                            Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                            venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Dec 2018</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Dec 21, 2018</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Event Title</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                            Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                            venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
                <li class="timeline-item period">
                    <div class="timeline-info"></div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h2 class="timeline-title">Jan 2019</h2>
                    </div>
                </li>
                <li class="timeline-item">
                    <div class="timeline-info">
                        <span>Jan 21, 2019</span>
                    </div>
                    <div class="timeline-marker"></div>
                    <div class="timeline-content">
                        <h3 class="timeline-title">Event Title</h3>
                        <p>Nullam vel sem. Nullam vel sem. Integer ante arcu, accumsan a, consectetuer eget, posuere ut, mauris.
                            Donec orci lectus, aliquam ut, faucibus non, euismod id, nulla. Donec vitae sapien ut libero
                            venenatis faucibus. ullam dictum felis eu pede mollis pretium. Pellentesque ut neque. </p>
                    </div>
                </li>
            </ul>
        </div>

    </div>

</section>