<section id="landing-whitepaper">

    <div class="content-container p-12" [ngClass.gt-sm]="'content-container p-64'" fxLayout="column" fxLayoutGap="8px" fxLayoutGap.gt-sm="12px">

        <div fxLayout="column" fxLayoutGap="12px" fxLayoutGap.gt-sm="48px" fxLayout.gt-sm="row">

            <div class="content" fxLayoutAlign="center" fxLayoutAlign.gt-sm="start">
                <img src="assets/images/whitepaper.png">
            </div>

            <div class="content" fxLayout="column" fxFlex="50">

                <div class="content-title" fxLayout="column" fxLayoutAlign="start">
                    <span class="title">Whitepaper</span>
                    <span class="underline"></span>
                </div>

                <p class="mt-32">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde facilis repellat provident deleniti rerum,
                    cum cumque aut magnam dignissimos. Inventore esse earum iure placeat accusamus quaerat in minima facilis
                    ipsam?
                </p>

            </div>

        </div>

    </div>

</section>